<center><h2>Python Practice</h2></center>

In [3]:
# using print function

print("hello world")
print('abc')
print("hello 'Ankit' hello")
print('hello "Ankit" hello')

hello world
abc
hello 'Ankit' hello
hello "Ankit" hello

In [6]:
#using escape sequences
print("hello \"Ankit\" hello")
print('hello \'Ankit\' hello')

hello "Ankit" hello
hello 'Ankit' hello

In [7]:
print("this is \\ backslash")

this is \ backslash

In [8]:
print("hello\nWorld")

hello
World

In [9]:
print("hello\tAnkit")

hello	Ankit

In [11]:
print("hello\bAnkit") #omit one element

helloAnkit

In [13]:
print("Ankit is \\n boy")
print("\\\'\\\"")

Ankit is \n boy
\'\"

In [14]:
print("This is /\\/\\/\\/\\/\\ mountain")

This is /\/\/\/\/\ mountain

In [15]:
print("\U0001F602")

ðŸ˜‚

In [16]:
print(2+3)
print(2*3)
print(2/3)
print(4%2)
print(4//2)
print(2**3)
print(2//4)
print(3-3)

5
6
0.6666666666666666
0
2
8
0
0

In [23]:
print(2**3/2*6-4*(3-4/2))
round(2**0.5,3)  #rounding off

20.0

1.414

In [24]:
print((2+3)**5/2%6) #using precedence

2.5

In [25]:
#using variables

num1=2
print(num1)

name="Ankit"
print(name)

name=123
print(name)

2
Ankit
123

In [32]:
#concatenation

f_name="Ankit"
l_name="Sinha"
full_name=f_name+" "+l_name
print(full_name)

Ankit Sinha

In [38]:
f_name="Ankit"
res=f_name+str(3)
resl=f_name+" "+"Roll"+" "+str(79)
print(res)
print(resl)
print(f_name*3)

Ankit3
Ankit Roll 79
AnkitAnkitAnkit

In [1]:
#using input

name=input("Enter First name : ")
res=name+" "+"Sinha"
print(res)

Enter First name : Shrutika
Shrutika Sinha

In [2]:
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
tot=num1+num2
print(tot)

Enter first number : 4
Enter second number : 5
9

In [4]:
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
tot=num1+num2
print("total is"+" "+str(tot))

Enter first number : 875
Enter second number : 5
total is 880

In [6]:
num1=str(3) #here 3 is string
n2=float("44")
n3=int("33")
print(num1)
print(n2)
print(n3)
print(n2+n3)  #final value in float

3
44.0
33
77.0

In [8]:
name,age="ankit",20
print("hello"+" "+"your name is"+" "+name+" "+"and your age is"+" "+str(age))

hello your name is ankit and your age is 20

In [9]:
x=y=z=w=s=t=1
print(x+y+z+w+s+t)

6

In [10]:
name,age=input("Enter your name and age").split(" ")
print(name,age)
print(name)
print(age)

Enter your name and ageankit 20
ankit 20
ankit
20

In [11]:
name,age=input("Enter your name and age").split(" ")
print(f"hello your name is {name} and age is {age}") #clean syntax

Enter your name and ageankit 20
hello your name is ankit and age is 20

In [13]:
name,age=input("Enter your name and age").split(" ")
print("hello your name is {} and age is {}".format(name,age)) #clean syntax

Enter your name and ageankit 20
hello your name is ankit and age is 20

In [18]:
num1,num2,num3=input("Enter three numbers separated by , ").split(",")
avg=int(num1)+int(num2)+int(num3)/3
print(f"average of entered numbers is {avg}")
print("average is {}".format(avg))

Enter three numbers separated by , 4,5,3
average of entered numbers is 10.0
average is 10.0

In [19]:
#operations on string

lang="python"
print(lang[2])
print(lang[5])

t
n

In [22]:
name="Ankit is good"
print(name[5]) #prints space
print(name[-1])
print(name[-3])

d
o

In [43]:
#using slicing
name="Ankit"
print(name[2:5])
print(name[0:5])
print(name[0:4])
print(name[2:4])
print(name[:])
print(name[:5])
print(name[1:])
print(name[:-1])

kit
Ankit
Anki
ki
Ankit
Ankit
nkit
Anki

In [47]:
#using slicing step count

name="mathematics"
ll=name[0::2]
print(ll)
print(name[1:4:2])
print(name[1:4:1])
print(name[::2])
jio=name[::-1]
print(jio)
new=jio[5:11]
print(new)
print(f"reverse order of mathematics is {jio}")
#reverses the string

mteais
ah
ath
mteais
scitamehtam
mehtam
reverse order of mathematics is scitamehtam

In [58]:
#some string methods

name="Ankit sinha"
print(len(name))
kij=name.lower()
print(kij)
print(name.upper())
print(name.title())
print(name.count("A"))
print(name.count("i"))

11
ankit sinha
ANKIT SINHA
Ankit Sinha
1
2

In [59]:
name,sing=input("Enter your name and  single character separated by ,").split(",")
print(len(name))
print(name.lower().count(sing.lower()))

Enter your name and  single character separated by ,ankit,a
5
1

In [6]:
name="     Ankit Sinha"
new=name.lstrip()
print(new)
s1="       Ankit  "
dots="............"
print(s1+dots)
n1=s1.rstrip()
print(n1)
n2=s1.strip()
print(n2)

Ankit Sinha
       Ankit  ............
       Ankit
Ankit

In [15]:
name="Ankit Sinha"
new=name.replace(" ","")
print(new)
print(name.replace("Ankit","Shrutika"))
string="she is beautiful and she is good dancer"
print(string.replace("is","was",1))
print(string.replace("is","was",5))
print(string.replace("is","was"))

AnkitSinha
Shrutika Sinha
she was beautiful and she is good dancer
she was beautiful and she was good dancer
she was beautiful and she was good dancer

In [14]:
string="she is good and she is calm"
new=string.find("is")
print(new)
new1=string.find("is" ,new+1)
print(new1)

4
20

In [16]:
name="Ankit"
print(name.center(9,"*"))

**Ankit**

In [18]:
name=input("Enter your name : ")
new=name.center(len(name)+8)
new1=name.center(len(name)+8,"*")
print(new1)
print(new)

Enter your name : Ankit
****Ankit****
    Ankit

In [20]:
#Conditional and looping statement

age=18
if age>=18:
    print("hello")
else:
    print("namaste")

hello

In [23]:
stri=int(input("Enter your age :"))
if stri>=18:
    print("eligible to vote")
else:
    print("not eligible to vote")

Enter your age :11
not eligible to vote

In [25]:
x=18
if x>=18:
    pass  #don't give any error

In [29]:
winning_number=27
user_input=int(input("Enter any number between 1 to 100 : "))
if winning_number==user_input:
    print("you win the game")
else:
    if user_input>winning_number:
        print("too high")
    else:
        print("too low")

Enter any number between 1 to 100 : 27
you win the game

In [33]:
name="abc"
age=19
if name=="abc" and age==19:
    print("correct")
else:
    print("not correct")

correct

In [34]:
name="abc"
age=19
if name=="abc" or age==20:
    print("correct")
else:
    print("not correct")

correct

In [36]:
name=input("Enter you name :")
age=int(input("Enter your age :"))
if (name[0]=='a' or name[0]=='A') and age>=18:
    print("you can watch your favourite movies")
else:
    print("you cannot watch")

Enter you name :Sahil
Enter your age :19
you cannot watch

In [38]:
age=int(input("Enter your age :"))
if 0<age<3:
    print("free ticket")
elif 3<age<=10:
    print("ticket price is 100")
elif 10<age<=18:
    print("ticket price is 200")
else:
    print("ticket price is 300")

Enter your age :69
ticket price is 300

In [41]:
name="ankit"
if 'a' in name:
    print("present")
else:
    print("not present")

present

In [43]:
name=""
if name:
    print("not empty")
else:
    print("empty")

empty

In [44]:
#using loops

i=1
while i<=10:
    print("hello")
    i=i+1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [45]:
total=0
i=1
while i<=10:
    total=total+i
    i=i+1
print(total)

55

In [1]:
num=int(input("Enter number upto which you have to find sum :"))
total=0
i=1
while i<=num:
    total=total+i
    i=i+1
print(total)

Enter number upto which you have to find sum :10
55

In [4]:
digit=input("Enter a number : ")
total=0
i=0
while i<len(digit):
    total+=int(digit[i])
    i=i+1
print(f"sum of digits is {total}")

Enter a number : 1256
sum of digits is 14

In [1]:
name=input("Enter a name :")
temp_var=""
i=0
while i<len(name):
    if name[i] not in temp_var:
        temp_var+=name[i]
        print(f"{name[i]} : {name.count(name[i])}")
    i=i+1

Enter a name :Ankit Sinha
A : 1
n : 2
k : 1
i : 2
t : 1
  : 1
S : 1
h : 1
a : 1

In [3]:
# using for loop

total=0
for i in range(1,11):  #here 11 is not included i.e 1 to 10 only
    total+=i
print(total)

55

In [ ]:
while True:
    print("Hello World") #infinite loop and if updation not done

In [4]:
total=0
num=int(input("Enter a number :"))
for i in range(1,num+1):
    total+=i
print(total)

Enter a number :10
55

In [5]:
total=0
num=input("Enter a digit : ")
for i in range(0,len(num)):
    total+=i
print(f"sum of digits is {total}")

Enter a digit : 1234560
sum of digits is 21

In [10]:
name=input("Enter your name :")
temp_var=""
for i in range (0,len(name)):
    if name[i] not in temp_var:
        temp_var+=name[i]
        print(f"{name[i]} : {name.count(name[i])}")

Enter your name :Ankit Sinha
A : 1
n : 2
k : 1
i : 2
t : 1
  : 1
S : 1
h : 1
a : 1

In [11]:
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [12]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [7]:
winning_number=43
guess=1
number=int(input("guess a number between  1 to 100 : "))
game_over=False
while not game_over:
    if number==winning_number:
        print(f"you guessed number correctly and you guess {guess} times")
        game_over=True
    else:
        if number>winning_number:
            print("too high")
            guess=guess+1
            number=int(input("guess again :"))
        else:
            print("too low")
            guess+=1
            number=int(input("guess again :"))

guess a number between  1 to 100 : 45
too high
guess again :32
too low
guess again :4444
too high
guess again :43
you guessed number correctly and you guess 4 times

In [ ]:
import random
winning_number=random.randint(1,100)
guess=1
game_over=False
number=int(input("guess a number between  1 to 100 : "))
while not game_over:
    if number==winning_number:
        print(f"you guessed number correctly and you guess {guess} times")
        gave_over=True
    else:
        if number>winning_number:
            print("too high")
        else:
            print("too low")
    guess+=1
    number=int(input("guess again :"))

guess a number between  1 to 100 : 75
too high
guess again :70
too high
guess again :33
too low
guess again :40
too low
guess again :50
too high
guess again :49
too high
guess again :45
too high
guess again :44
you guessed number correctly and you guess 8 times
guess again :12
too low
guess again :13
too low
guess again :88
too high
guess again :45
too high
guess again :39
too low
guess again :35
too low
guess again :36
too low
guess again :367
too high
guess again :37
too low
guess again :38
too low
guess again :39
too low
guess again :77
too high

In [5]:
for i in range(1,11,3): #here 3 is step argument
    print(i)

1
4
7
10

In [6]:
#using functions in python

def add_two(a,b):
    total=a+b
    return total
add_two(4,5)

9

In [9]:
def avg(a,b,c):
    avg=(int(n1)+int(n2)+int(n3))/3
    return avg
n1,n2,n3=input("Enter Three numbers separated by , : ").split(",")
print(f"average of three numbers you entered is {avg(n1,n2,n3)}")

Enter Three numbers separated by , : 3,2,1
average of three numbers you entered is 2.0

In [10]:
def last_char(s):
    return s[-1]
last_char("Ankit Sinha")

'a'

In [2]:
def even_odd(a):
    if a%2==0:
        return "even"
    else:
        return "odd"
n=int(input("Enter a Number : "))
print(even_odd(n))

Enter a Number : 57
odd

In [3]:
def is_even(a):
    return a%2==0
print(is_even(46))

True

In [10]:
def greater(a,b):
    if a>b:
        return a
    else:
        return b
n1,n2=input("Enter two numbers : ").split(" ")
a=int(n1)
b=int(n2)
res=greater(a,b)
print(f"{res} is greater")

Enter two numbers : 3 4
4 is greater

In [17]:
def greater(a,b):
    if a>b:
        return a
    else:
        return b
def greatest(a,b,c):
    bigger=greater(a,b)
    return greater(bigger,c)
    new=greatest(12,17,1)
print(f"greatest is {new}")

greatest is 17

In [19]:
def is_palindrome(name):
    names=name[::-1]
    if names==name:
        return "yes palindrome"
    else:
        return "Not Palindrome"
name=input("Enter your Name : ")
print(is_palindrome(name))

Enter your Name : MADAM
yes palindrome

In [27]:
def fibonacci(n):
    a=0
    b=1
    if n==1:
        print(n)
    elif n==2:
        print(a,b)
    else:
        print(a,b,end=" ")
        for i in range(n-2):
            c=a+b
            a=b
            b=c
            print(b,end=" ")
fibonacci(9)

0 1 1 2 3 5 8 13 21

In [41]:
x=5
def func():
    global x
    return x
print(func())

5

In [13]:
#using list

empty_list=[]
print(empty_list)

Ist=['hello','my','name','is','Ankit']
print(Ist)
IInd=['hello',23,'ankit',79,'sinha']
print(IInd)
third=['hello',79,1.24]
print(third)
forth=[[1,2],[3,4]] #list inside list
print(forth)

print(len(Ist))
print(len(forth))
print(len(third))

[]
['hello', 'my', 'name', 'is', 'Ankit']
['hello', 23, 'ankit', 79, 'sinha']
['hello', 79, 1.24]
[[1, 2], [3, 4]]
5
2
3

In [22]:
list1=['one','two',5,3,'six','ten',11]
print(list1)
print(list1[2])
print(list1[5])
print(list1[-1])
list1[1:]="two"
print(list1)
list1[1:]="three","four"
print(list1)

['one', 'two', 5, 3, 'six', 'ten', 11]
5
ten
11
['one', 't', 'w', 'o']
['one', 'three', 'four']

In [33]:
fruits=["apple"]
fruits.append("Mango")
fruits.append("grapes")
fruits.append(3)
print(fruits)
mixed=[]
mixed.append("Ankit")
mixed.append("Shloke")
mixed.append("Amiya")
mixed.append("Shantanu")
mixed.append(69)
print(mixed)

['apple', 'Mango', 'grapes', 3]
['Ankit', 'Shloke', 'Amiya', 'Shantanu', 69]

In [44]:
lists=[]
lists.insert(0,"amiya")
lists.insert(2,"Ankit")
lists[1]="Swetank"
print(lists)
print(lists[1])

hello=["me","too",63,72,"hiii"]
hello.insert(2,56)
print(hello)
new=lists+hello
print(new)

lists.extend(hello)
print(lists)

['amiya', 'Swetank']
Swetank
['me', 'too', 56, 63, 72, 'hiii']
['amiya', 'Swetank', 'me', 'too', 56, 63, 72, 'hiii']
['amiya', 'Swetank', 'me', 'too', 56, 63, 72, 'hiii']

In [56]:
new=["pankaj",78,"Ankit",79,"Ravi",76,"Shloke",93,"Anmol",57]
print(new)
new1=new.pop()
print(new1)
print(new)
new.remove("pankaj")
print(new)
new.pop()  #removes item from last
print(new)
new.append(78)
print(new)
print(new.count(78))
new1=["Shloke","Ankit","Pankaj"]
new1.sort()
print(new1)
new2=[78,2,9,67,3,1,4,88]
new2.sort()
print(new2)
print(sorted(new2))
new2.clear()
print(new2)

['pankaj', 78, 'Ankit', 79, 'Ravi', 76, 'Shloke', 93, 'Anmol', 57]
57
['pankaj', 78, 'Ankit', 79, 'Ravi', 76, 'Shloke', 93, 'Anmol']
[78, 'Ankit', 79, 'Ravi', 76, 'Shloke', 93, 'Anmol']
[78, 'Ankit', 79, 'Ravi', 76, 'Shloke', 93]
[78, 'Ankit', 79, 'Ravi', 76, 'Shloke', 93, 78]
2
['Ankit', 'Pankaj', 'Shloke']
[1, 2, 3, 4, 9, 67, 78, 88]
[1, 2, 3, 4, 9, 67, 78, 88]
[]

In [1]:
n_r=["Ankit","pankaj","Shloke","Swetank"]
new=n_r.copy() #make a copy of list
print(n_r)
print(new)

['Ankit', 'pankaj', 'Shloke', 'Swetank']
['Ankit', 'pankaj', 'Shloke', 'Swetank']

In [5]:
fruits1=["Apple","mango","pear","strawberry"]
fruits2=["orange","guava","pineapple","grapes","kiwi"]
fruits3=["Apple","mango","pear","strawberry"]
print(fruits1==fruits3)
print(fruits1==fruits2)
print(fruits1 is fruits3)
print(fruits1 is fruits2)

True
False
False
False

In [14]:
user="Ankit 79".split()
print(user)
user1="Ankit,136".split(",")
print(user1)
name,age="Ankit,20".split(',')
print(name)
print(age)

['Ankit', '79']
['Ankit', '136']
Ankit
20

In [19]:
list1=["ankit","20"]
new1=(','.join(list1))
print(new1)
list2=["Rahul","23","Ankit","20"]
new2=(','.join(list2))
print(new2)

ankit,20
Rahul,23,Ankit,20

In [20]:
#looping in list

fruits=["apple","mango","Grapes","pineapple"]
for fruit in fruits:
    print(fruits)

['apple', 'mango', 'Grapes', 'pineapple']
['apple', 'mango', 'Grapes', 'pineapple']
['apple', 'mango', 'Grapes', 'pineapple']
['apple', 'mango', 'Grapes', 'pineapple']

In [2]:
name=["ankit","Shloke","Rani","Pankaj"]
i=0
while i<len(name):
    print(name)
    print(name[i])
    i=i+1

['ankit', 'Shloke', 'Rani', 'Pankaj']
ankit
['ankit', 'Shloke', 'Rani', 'Pankaj']
Shloke
['ankit', 'Shloke', 'Rani', 'Pankaj']
Rani
['ankit', 'Shloke', 'Rani', 'Pankaj']
Pankaj

In [5]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0])
for i in matrix:
    print(i)

[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [15]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for sublist in matrix:
    for i in sublist:
        print(i)
print(type(matrix))
print(matrix[1][2])

1
2
3
4
5
6
7
8
9
<class 'list'>
6

In [11]:
numbers=list(range(1,11))
print(numbers)
new=numbers.pop()
print(new)
print(numbers)
print(numbers.index(7))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
[1, 2, 3, 4, 5, 6, 7, 8, 9]
6

In [14]:
num=[1,2,2,6,8,9,2,3,5,6,7]
print(num)
print(num.index(2,3,7))

[1, 2, 2, 6, 8, 9, 2, 3, 5, 6, 7]
6

In [16]:
def negative_list(l):
    negative=[]
    for i in l:
        negative.append(-i)
    return negative

new=list(range(1,11))
negative_list(new)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [21]:
def squares(l):
    sqr=[]
    for i in l:
        sqr.append(i**2)
    return sqr

nums=list(range(1,11))
squares(nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
def reverse_list(l):
    return l[::-1]
num=list(range(1,5))
print(num)
reverse_list(num)

[1, 2, 3, 4]

[4, 3, 2, 1]

In [4]:
def revlist(l):
    rev_list=[]
    for i in range(len(l)):
        popped=l.pop()
        rev_list.append(popped)
    return rev_list

num=[1,2,3,4,5,6,7,8,9]
print(revlist(num))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
def revelements(l):
    listt=[]
    for i in l:
        listt.append(i[::-1])
    return listt

name=["abc","xyz","uvw","gst"]
revelements(name)

['cba', 'zyx', 'wvu', 'tsg']

In [30]:
def filter_odd_even(l):
    evn_list=[]
    odd_list=[]
    for i in l:
        if i%2==0:
            evn_list.append(i)
        else:
            odd_list.append(i)
    output=[evn_list,odd_list]
    return output

filter_odd_even(list(range(1,11)))

[[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]]

In [31]:
def common_finder(l1,l2):
    output=[]
    for i in l1:
        if i in l2:
            output.append(i)
    return output

common_finder([1,2,5,7,9],[1,7,5,6,8,9])

[1, 5, 7, 9]

In [32]:
def sublist_count(l):
    count=0
    for i in l:
        if type(i)==list:
            count+=1
    return count

ll=[[1,5],["ankit","amiya"],[7,9],["abc","xyz"]]
sublist_count(ll)

4

In [33]:
# Using tuples data structure

tup=("one","two","three")
print(tup)
print(type(tup))

('one', 'two', 'three')
<class 'tuple'>

In [11]:
tup=("Ankit","Amiya","Rishav","ojas")
print(tup[::2])
print(len(tup))
print(tup.count("ojas"))
print(tup.index("Amiya"))

('Ankit', 'Rishav')
4
1
1

In [12]:
mixed=(1,2,3,4,0)
for i in mixed:
    print(i)

1
2
3
4
0

In [13]:
nums=(1)
print(nums)
print(type(nums))
num=(1,)
print(num)
print(type(num))

1
<class 'int'>
(1,)
<class 'tuple'>

In [15]:
eg="yamaha","honda","mercedes","bmw"
print(eg)
print(type(eg))

('yamaha', 'honda', 'mercedes', 'bmw')
<class 'tuple'>

In [17]:
eg=("yamaha","maruti","honda","skoda","tata")
eg1,eg2,eg3,eg4,eg5=(eg) #tuple unpacking
print(eg1)
print(eg3)
print(eg5)

yamaha
honda
tata

In [18]:
fav=('hello',["Ankit","Amiya"])
print(fav)
print(type(fav))
new=fav[1].pop()
print(new)
fav[1].append("Rishikesh")
print(fav)

('hello', ['Ankit', 'Amiya'])
<class 'tuple'>
Amiya
('hello', ['Ankit', 'Rishikesh'])

In [21]:
mixed=(1,2,3,4,0)
print(min(mixed))
print(max(mixed))
print(sum(mixed))

0
4
10

In [25]:
def func(int1,int2):
    add=int1+int2
    multiply=int1*int2
    return add,multiply
new=print(func(2,3))
type(new)
new1,new2=func(2,3)
print(new1)
print(new2)
type(new1)
type(new2)

(5, 6)
5
6

int

In [27]:
nums=tuple(range(1,11))
print(nums)
type(nums)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

In [28]:
nums=list((1,2,3,4,5,6,7,8,9,0))
print(nums)
type(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

list

In [30]:
# using dictionary data structures

user={'name':'Ankit','Roll':79}
print(user)
type(user)

{'name': 'Ankit', 'Roll': 79}

dict

In [33]:
user1=dict(name='Ankit',roll=79)
print(user1)
type(user1)
print(user1['roll'])

{'name': 'Ankit', 'roll': 79}
79

In [38]:
user_info={
    'name':'Ankit',
    'branch':"Mathematics and computing",
    'roll':79,
    'movies':["3 idiots","uri","Ms dhoni"],
    'songs':["godzilla","faded","dark side"]
    
}
print(user_info)
type(user_info)

{'name': 'Ankit', 'branch': 'Mathematics and computing', 'roll': 79, 'movies': ['3 idiots', 'uri', 'Ms dhoni'], 'songs': ['godzilla', 'faded', 'dark side']}

dict

In [39]:
user_info={}
user_info['name']='Ankit'
user_info['Roll']=79
print(user_info)

{'name': 'Ankit', 'Roll': 79}

In [43]:
user_info={
    'name':'Ankit',
    'branch':"Mathematics and computing",
    'roll':79,
    'movies':["3 idiots","uri","Ms dhoni"],
    'songs':["godzilla","faded","dark side"]
    }
if 'name' in user_info:
    print('present')
else:
    print('no present')
if 'Ankit' in user_info.values():
    print('present')
else:
    print("not present")

present
present

In [47]:
user_info={
    'name':'Ankit',
    'branch':"Mathematics and computing",
    'roll':79,
    'movies':["3 idiots","uri","Ms dhoni"],
    'songs':["godzilla","faded","dark side"]
    }

for i in user_info:
    print(i)
for i in user_info.values():
    print(i)
type(user_info.values())

name
branch
roll
movies
songs
Ankit
Mathematics and computing
79
['3 idiots', 'uri', 'Ms dhoni']
['godzilla', 'faded', 'dark side']

dict_values

In [51]:
user_info={
    'name':'Ankit',
    'branch':"Mathematics and computing",
    'roll':79,
    'movies':["3 idiots","uri","Ms dhoni"],
    'songs':["godzilla","faded","dark side"]
    }

user=user_info.items()
print(user)
type(user)
for key,value in user_info.items():
    print(f"key is {key} and value is {value}")

dict_items([('name', 'Ankit'), ('branch', 'Mathematics and computing'), ('roll', 79), ('movies', ['3 idiots', 'uri', 'Ms dhoni']), ('songs', ['godzilla', 'faded', 'dark side'])])
key is name and value is Ankit
key is branch and value is Mathematics and computing
key is roll and value is 79
key is movies and value is ['3 idiots', 'uri', 'Ms dhoni']
key is songs and value is ['godzilla', 'faded', 'dark side']

In [5]:
user_info={}
user_info['songs']=["faded","dark side","godzilla"]
print(user_info)
new=user_info.pop('songs') #returns list
print(new)
print(user_info)

{'songs': ['faded', 'dark side', 'godzilla']}
['faded', 'dark side', 'godzilla']
{}

In [7]:
user_info={
    'name':'Ankit',
    'branch':"Mathematics and computing",
    'roll':79,
    'movies':["3 idiots","uri","Ms dhoni"],
    'songs':["godzilla","faded","dark side"]
    }

more_info={'state':'bihar','city':"patna",'hobbies':["badminton","volleyball","cricket"]}


popped=user_info.popitem() #randomly removes
print(popped)
print(user_info)
user_info.update(more_info)
print(user_info)

('songs', ['godzilla', 'faded', 'dark side'])
{'name': 'Ankit', 'branch': 'Mathematics and computing', 'roll': 79, 'movies': ['3 idiots', 'uri', 'Ms dhoni']}
{'name': 'Ankit', 'branch': 'Mathematics and computing', 'roll': 79, 'movies': ['3 idiots', 'uri', 'Ms dhoni'], 'state': 'bihar', 'city': 'patna', 'hobbies': ['badminton', 'volleyball', 'cricket']}

In [9]:
d={'state':'bihar','city':"patna",'hobbies':["badminton","volleyball","cricket"]}
print(d.get("state"))
print(d.get("hobbies"))

bihar
['badminton', 'volleyball', 'cricket']

In [17]:
d={'name':'unknown','age':'unknown'}
d=dict.fromkeys(['name','age','height'],"unknown")
print(d)
d=dict.fromkeys(range(1,6),"hello")
print(d)
d.clear()
print(d)
d1={"name":'Ankit',"roll":79}
d2=d1.copy()
print(d2)
print(d2.popitem())
print(d2)
d2.update(d1)
print(d2)

{'name': 'unknown', 'age': 'unknown', 'height': 'unknown'}
{1: 'hello', 2: 'hello', 3: 'hello', 4: 'hello', 5: 'hello'}
{}
{'name': 'Ankit', 'roll': 79}
('roll', 79)
{'name': 'Ankit'}
{'name': 'Ankit', 'roll': 79}

In [18]:
def cube_finder(d):
    cubes={}
    for i in range(1,d+1):
        cubes[i]=i**3
    return cubes
cube_finder(10)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [20]:
def word_counter(s):
    count={}
    for char in s:
        count[char]=s.count(char)
    return count
word_counter("AAnkit")

{'A': 2, 'n': 1, 'k': 1, 'i': 1, 't': 1}

In [23]:
user={}
name=input("Enter your name :")
roll=input("input your roll : ")
state=input("input your state :")
city=input("Enter your city : ")

user['name']=name
user['roll']=roll
user['state']=state
user['city']=city
print(user)
for key,value in user.items():
    print(f"{key}:{value}")

Enter your name :ankit
input your roll : 79
input your state :bihar
Enter your city : patna
{'name': 'ankit', 'roll': '79', 'state': 'bihar', 'city': 'patna'}
name:ankit
roll:79
state:bihar
city:patna

In [35]:
# using sets

s={1,2,3}
print(type(s))
l=[1,2,3,4,5,6,7,7,88,7,66,7,2,1,3]
l1=set(l) #unique elements only
print(l1)
s2=list(set(l)) #converts sets to list
print(s2)
l1.add(90)
l1.add(92)
l1.add(100)
print(l1)
l1.remove(7)
print(l1)
l1.discard(100)
print(l1)
igt=l1.copy()
print(igt)
l1.clear()
print(l1)
# we cannot store list,tuples in sets

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 66, 88}
[1, 2, 3, 4, 5, 6, 7, 66, 88]
{1, 2, 3, 4, 5, 6, 7, 66, 100, 88, 90, 92}
{1, 2, 3, 4, 5, 6, 66, 100, 88, 90, 92}
{1, 2, 3, 4, 5, 6, 66, 88, 90, 92}
{1, 2, 3, 4, 5, 6, 66, 88, 90, 92}
set()

In [39]:
s={'a','b','c'}
if 'a' in s:
    print("present")
else:
    print("no present")
for item in s:
    print(item) #unordered
    print(item)

present
a
a
c
c
b
b

In [40]:
l=[1,2,3]
print(set(l))

{1, 2, 3}

In [43]:
s1={1,2,3,4,4,5,7}
s2={1,2,5,6,8,9,8}
new=s1|s2  #union of sets
print(new)
new1=s1&s2 #intersection of sets
print(new1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 5}

In [1]:
numbers=[1,2,3]
def poweroftwo(num):
    return num**2;
squared=list(map(poweroftwo,numbers))
print(squared)

[1, 4, 9]

In [2]:
double=lambda x:x*2
print(double(5))

10

In [3]:
import math
print(math.pi.__doc__)

Convert a string or number to a floating point number, if possible.

In [4]:
import os
os.listdir(os.getcwd())

['.anaconda',
 '.bash_history',
 '.conda',
 '.condarc',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.nbi',
 '.pylint.d',
 '.vscode',
 '2.5.ipynb',
 '3D Objects',
 'ansel',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Creative Cloud Files',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'MicrosoftEdgeBackups',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TM.blf',
 'NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{fd9a35db-49fe-11e9-aa2c-248a07783950}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Project(Black Friday) with own knn model.ipynb',
 'python_practice.ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Videos']

In [1]:
!pwd

/c/Users/ANKIT